apiVersion: v1
kind: Service
metadata:
  name: nats
spec:
  selector:
    app: nats
  ports:
    - name: client
      protocol: TCP
      port: 4222
    - name: monitoring
      protocol: TCP
      port: 8222
