config:
  cluster:
    enabled: true
    replicas: 3
    merge:
      name: nats
      routes:
        - nats://nats-0.nats-headless:6222
        - nats://nats-1.nats-headless:6222
        - nats://nats-2.nats-headless:6222

  # JetStream configuration for NATS.
  jetstream:
    enabled: true
    fileStore:
      enabled: true
      pvc:
        enabled: true
        size: 5Gi
        storageClassName: longhorn

container:
  merge:
    startupProbe:
      httpGet:
        path: /healthz
        port: 8222
      initialDelaySeconds: 20
      periodSeconds: 10
      failureThreshold: 30
      timeoutSeconds: 5

reloader:
  enabled: false

service:
  name: nats

podTemplate:
  topologySpreadConstraints:
    kubernetes.io/hostname:
      maxSkew: 1
      whenUnsatisfiable: ScheduleAnyway

statefulSet:
  patch:
    - op: add
      path: /spec/template/spec/tolerations
      value:
        - key: "node.kubernetes.io/unreachable"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 60
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 60

natsBox:
  podTemplate:
    patch:
      - op: add
        path: /spec/tolerations
        value:
          - key: "node.kubernetes.io/unreachable"
            operator: "Exists"
            effect: "NoExecute"
            tolerationSeconds: 60
          - key: "node.kubernetes.io/not-ready"
            operator: "Exists"
            effect: "NoExecute"
            tolerationSeconds: 60
